body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  /* border: 1px solid skyblue; */
}
hr {
  border: 1px solid #ddd;
  width: 80%;
}
a {
  color: #fff;
}
button {
  background: #4ca1a3;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}
button:hover {
  background: #fff;
  color: #4ca1a3;
}
