body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid skyblue;
}
h1 {
  font-size: 3.6rem;
  color: #fff;
}
h2 {
  font-size: 2.6rem;
}
h5 {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
  /* font-weight: bold; */
}
hr {
  border: 1px solid #ddd;
  width: 80%;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #f88905;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}
header a {
  color: #f88905;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
.search_bar {
  width: 60%;
}
.banner {
  margin-top: 6%;
  background-color: #f88905;
  width: 100%;
  padding: 4% 4% 0%;
  display: flex;
  justify-content: space-between;
  color: #4f4f4f;
  align-items: center;
}
.banner p {
  color: #fff;
}
.banner_img {
  width: 60%;
}
.banner_img img {
  width: 70%;
  border-radius: 10px;
}
.banner_text {
  text-align: left;
  line-height: 1.5;
}
.cart-badge {
  position: absolute;
  top: 18px;
  right: 12%;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}
.product_container {
  /* width: 20%; */
  margin: 2% 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product_container:hover {
  border: 1px solid #ddd;
}
.product_items {
  width: 20%;
  padding: 2%;
}
.product_items img {
  width: 50%;
  height: 20vh;
}
.product_items h5 {
  margin-top: 5%;
}
.checkout-section {
  padding: 32px 0;
  display: flex;
  /* flex-flow: column nowrap; */
  align-items: flex-end;
  width: 30%;
}
.checkout_title {
  display: flex;
  padding: 5% 2%;
  width: 100%;
  text-align: left;
}
.checkout_title p {
  text-align: right;
}
.checkout_title h5 {
  text-align: left;
}
.checkout_container {
  width: 60%;
}

.product-card {
  display: flex;
  margin: 2%;
  padding: 32px 0;
  width: 100%;
}

.product-card img {
  width: 10%;
  height: 10vh;
}
.cart_items {
  flex-wrap: wrap;
  width: 100%;
}
.product-details {
  padding: 0 32px 0 16px;
  color: #000;
  display: flex;
  /* flex-flow: column nowrap; */
  justify-content: space-between;
  align-items: center;
}

.product-bottom-row {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.product-bottom-row > p {
  margin-right: 32px;
}

.product-button {
  justify-self: flex-end;
}

.cart {
  margin-top: 10%;
}
.cart_header {
  text-align: left;
  padding-left: 2%;
}
.cart_container {
  display: flex;
}
.cart > .product-card {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f88905;
}

.cart .product-image {
  height: 160px;
}

.cart .product-details {
  justify-content: center;
}

.checkout-section {
  color: #000;
  padding: 32px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.success-message {
  width: 400px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px;
  background-color: #f88905;
}
input {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  padding: 2%;
  margin: 1%;
  /* border-top: hidden;
  border-right: hidden;
  border-left: hidden; */
  /* border-bottom: 1px solid #ccc; */
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
  padding: 0 2%;
}

.search_bar > input {
  width: 95%;
  padding: 1%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-bottom: 1px solid #ccc;
}
input:focus {
  outline: none;
}
button {
  background: #f88905;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}
button:hover {
  background: #f88905;
}

form {
  background: #0e101c;
  max-width: 75%;
  margin: 10% 20%;
  color: #fff;
}
